<h2>Task description</h2>
<article>
  Необходимо создать мультистраничное Angular приложение (2-3 страницы). Каждая
  страница отдельный модуль, но в качестве контента один и тот же компонент.
  Компонент состоит из 5 одинаковых блоков, которые определяются списком. Блок
  должен отображать свой индекс в списке и вес. Компонент должен получить массив
  весов (от 0 до 5) для каждого блока в соответствии с индексами. Массив весов
  определяется для каждой страницы в соответствующем модуле с помощью механизмов
  DI. Задача компонента отобразить отсортированный по весам список блоков с
  помощью flexbox, при этом без сортировки самого списка блоков (список не
  должен меняться).
</article>
